body {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #23395d;
}
.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5vh;
}
.dolg-data {
  margin: 0;
  text-align: center;
}
.container {
  margin-top: 3vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dolgozat-container {
  width: 60%;
  height: 10vh;
  background-color: #1c2e4a;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-top: 2vh;
}
.dolgozat-container > div {
  text-decoration: none;
  color: white;
  display: flex;
  width: max-content;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 1.5rem;
}
.dolgozat-delete {
  background-color: transparent;
  border: 0;
  margin-left: auto;
  margin-right: 1rem;
}
.dolgozat-ertek {
  margin-right: 1.5rem;
}
.dolgozat-suly {
  margin-left: auto;
  margin-right: 1.5rem;
}
.dolgozat-name {
  margin-left: 2rem;
}

.assign-container {
  width: 60%;
  height: 10vh;
  background-color: #1e304d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #1b2c46 2px 2px 5px;
}
.input {
  font-family: inherit;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: #9b9b9b 2px solid;
  padding: 7px 0;
  font-size: 1.3rem;
  color: #fff;
  transition: border-color 0.2s;
}
label {
  transition: 0.2s;
  font-size: 1.2rem !important;
  color: white;
  /* margin-left: 3vw;
  margin-right: 1vw; */
  font-family: inherit;
  margin-left: 2vw;
}
.input:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-color: #395b92;
  border-image-slice: 1;
}
.input:placeholder-shown ~ label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
#ertek {
  width: 3vw;
  text-align: center;
}
#description {
  width: 13vw;
  padding-left: 4px;
}
#diak-select {
  margin-left: 2rem;
  background: #1f5c9a;
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}
.add {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  width: 60px;
  height: 3rem;
  border-radius: 0.375rem;
  border-width: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #1f5c9a;
  margin-left: 25px;
  color: white;
}

.add:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background: #2f5c9a;
}
