{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/diakview.css' %}" />
    <title>Grades</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <form method="POST" class="title-container">
      {% csrf_token %}
      <button name="move" value="prev">Previous</button>
      <h1 class="title">
        {{diak.user.first_name}} {{diak.user.last_name}}'s grades
      </h1>
      <button name="move" value="next">Next</button>
    </form>

    <div class="grade-outer">
      <div class="grade-info">
        <div class="first-half">
          <p>Grades:</p>
          <form class="point-holder" method="POST">
            {% csrf_token %}
            <button class="minusplus plus" name="plusred">+</button>
            {% for i in maxpiros %}
            <div class="point red-point unactive" id="red-{{i}}"></div>
            {% endfor %}
            <button class="minusplus minus" name="minusred">&minus;</button>
          </form>
        </div>

        <div class="second-half">
          <form class="point-holder" method="POST">
            {% csrf_token %}
            <button class="minusplus minus" name="minusblack">&minus;</button>
            {% for i in maxfekete %}
            <div class="point black-point unactive" id="black-{{i}}"></div>
            {% endfor %}
            <button class="minusplus plus" name="plusblack">+</button>
          </form>
          <p>Avarage: {{atlag}}%</p>
        </div>
      </div>
      {% for jegy in jegyek %}
      <form class="grade-container" method="POST">
        {% csrf_token %}
        <p class="grade-name">{{jegy.nev}}</p>
        <div class="grade-value-container">
          <p class="grade-value">Weight: {{jegy.suly}}%</p>
          <p class="grade-value">Grade: {{jegy.ertek}}%</p>
          <button class="grade-delete" name="del-{{jegy.id}}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="darkred"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
              />
              <path
                fillRule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
              />
            </svg>
          </button>
        </div>
      </form>
      {% endfor %}
    </div>
  </body>
  <script type="text/javascript">
    var pirosPontok = "{{diak.pirosPontok}}";
    var feketePontok = "{{diak.feketePontok}}";
    for (let i = 0; i < pirosPontok; i++) {
      document.querySelector(`#red-${i}`).classList.remove("unactive");
    }
    for (let i = 0; i < feketePontok; i++) {
      document.querySelector(`#black-${i}`).classList.remove("unactive");
    }
  </script>
</html>
